node_modules
yarn.lock
.DS_Store
package-lock.json
build/asset-manifest.json
build/favicon.ico
build/index.html
build/service-worker.js
build/static/css/main.22eaaf42.css
build/static/css/main.22eaaf42.css.map
build/static/js/main.eb34452e.js
build/static/js/main.eb34452e.js.map
build/static/media/add.bb9363b8.svg
build/static/media/arrow-back.3687aa98.svg
build/static/media/arrow-drop-down.78c6f53b.svg
